*.o
*~
regex_tests.cc
regex_tests
scanner_tests.cc
scanner_tests
parser_tests.cc
parser_tests
ast_tests
ast_tests.cc
codegeneration_tests
codegeneration_tests.cc
html
latex
forest_loss_v2
my_code_1
my_code_2
sample_1
sample_2
sample_3
sample_7
sample_8
*.output
*.diff
*.dslup1
*.dslup2
*.dslup3
